################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinkedLanguages.BL/bin/Debug/net5.0
/LinkedLanguages.BL/obj
/LinkedLanguages.Console/bin/Debug/netcoreapp3.1
/LinkedLanguages.Console/obj
/LinkedLanguages.DAL/bin/Debug/net5.0
/LinkedLanguages.DAL/obj
/LinkedLanguages.Tests/obj
/LinkedLanguages.Tests/bin/Debug
/LinkedLanguages.BL/bin/Release/net5.0
/LinkedLanguages.DAL/bin/Release/net5.0
/LinkedLanguages.Tests/bin/Release/net5.0
/DamerauLevenshteinDistance.Console/bin/Debug/net6.0
/DamerauLevenshteinDistance.Console/obj
