@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your account setup is finished. You can <a asp-page="./Login">login to your account</a>.
</p>