@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>Not, when email is confirmed, your account setup is finish and you can continue to learn and practice sections</p>